body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #64d6ed;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 10px 0;
    font-size: 1.8em;
}

main {
    padding: 20px;
}

section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
}

h3 {
    color: #64bef6;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #507bfc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #64d6ed;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}